.svg {
    display: inline-block;
    cursor: pointer;
    position: relative;
   

    &__notifications {
        &:after {
            content: '2';
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #F77C13;
            position: absolute;
            color: white;
            left: 30%;
            top: -20%;
            text-align: center;
            font-size: 10px;
        
            }
    }
}